:root {
  --colors-primary-disabled: #ceecfc;
  --colors-primary: #01a7fd;
  --colors-primary-hover: #0f79af;
  --colors-primary-active: #59c79f;
  --colors-whites: rgba(255, 255, 255, 0.88);
  --colors-white: #fff;
  --colors-graym: #fafafa;
  --colors-grayl: #f1f1f1;
  --colors-gray: rgba(17, 17, 17, 0.48);
  --colors-black: #111;
}
